html, body
	padding 0
	margin 0
header
	background #fff;
	box-shadow 0px -6px 5px 5px rgba(0, 0, 0, 0.6);
	z-index 2
	position relative
	overflow hidden
	height 25px
	padding 2px 25px
	.fork
		position absolute
		right 25px
		top 0
		display block
		height 25px
		padding 1px 2px
		line-height 25px
		font-size 16px
		text-decoration none
		color rgb(0, 51, 119)
		border-top 1px solid hsl(0, 100%, 60%)
		&:hover
			border-top-width 2px
			padding-top 0px
	.rollover
		display none
#create, button
	display none
canvas
	display block

overlay_padding = 20px

#overlay
	position fixed
	z-index 3
	width 100%
	height 100%
	left 0
	background rgba(100, 100, 100, 0.4);
	top 100%
	opacity 0
	transition opacity 0.5s ease 0s, top 0s 0.5s
	&.show
		top 0
		opacity 1
		transition opacity 0.5s ease 0s
	.container
		margin 5% auto
		width 800px
		background rgba(white, 0.95);
		border-radius 30px
		padding overlay_padding
		box-shadow 0px 10px 50px 10px rgba(black, 0.65);
		min-height 100px
		overflow hidden
	&:not(.won)
		#won
			display none
		.instructions
			padding-top overlay_padding - 10px
			margin-top -(overlay_padding)

#won
	bg = hsl(120, 60%, 60%)
	light = hsl(120, 70%, 90%)
	dark = hsl(120, 60%, 40%)
	font-size 24px
	font-weight bold
	font-family free-serif
	color light
	text-shadow 0px -1px 0px dark
	background bg
	margin -(overlay_padding) auto overlay_padding
	padding 5px
	width 400px
	text-align center
	border-bottom-right-radius 10px
	border-bottom-left-radius 10px
	box-shadow 0px 0px 10px 2px light, 0px 5px 5px -5px dark

.instructions
	margin 10px (-(overlay_padding))
	padding 5px overlay_padding
	background #fafafa
	border-top 1px solid #eee
	border-bottom 1px solid #eee
	.upload
		cursor pointer
	#upload
		display none

#image
	float right
	width 500px
	margin-bottom 10px
	text-align center
	img
		max-width 500px
		max-height 300px

form
	display block
	margin-bottom -(overlay_padding)
	label
		display block
		height 25px
		line-height 25px
		font-weight bold
		margin-right 510px
		input, select
			float right
	input[type="submit"]
		clear both
		display block
		margin 5px auto
		width 150px
